node-red-integration
[{"id":"15917d3b.8cd013","type":"amqp in","z":"f929c86a.f12ef8","name":"Read from AMQP queue influxDB","topic":"","iotype":"4","ioname":"influxdb","server":"67685066.94c61","x":265,"y":169,"wires":[["86cff49a.cacb08"]]},{"id":"86cff49a.cacb08","type":"function","z":"f929c86a.f12ef8","name":"Remove \\u0000","func":"msg.payload=(msg.payload.replace(/\\u0000/g,\" \"));\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":265,"wires":[["5857eb85.004434","a804bb80.2d07a8"]]},{"id":"5857eb85.004434","type":"http request","z":"f929c86a.f12ef8","name":"REST save to InfluxDB","method":"POST","ret":"txt","url":"<URL of influxdb with database for POST>","tls":"","x":636,"y":170,"wires":[["2008115c.5e694e"]]},{"id":"a804bb80.2d07a8","type":"debug","z":"f929c86a.f12ef8","name":"","active":true,"console":"false","complete":"false","x":745,"y":262,"wires":[]},{"id":"2008115c.5e694e","type":"debug","z":"f929c86a.f12ef8","name":"","active":true,"console":"false","complete":"statusCode","x":878,"y":169,"wires":[]},{"id":"67685066.94c61","type":"amqp-server","z":"f929c86a.f12ef8","host":"<rabbitmq hostname>","port":"5672","vhost":"/","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"}]
